.bgwrap{
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 715px;
}
.wrapper {
  display: grid;
  grid-template-columns: 105px minmax(120px, 200px) 110px minmax(250px, 300px);
  gap: 2px;
  grid-auto-rows: 100px minmax(0, 140px);
  font-family: "Monaco", "Lucida Console", "Courier New", monospace;
  background-color: rgba(255, 255, 255, 0.80);
}
.profile_picture {
  grid-column: 1;
  grid-row: 1;
}
.entrant_info {
  grid-column: 2;
  grid-row: 1;
}
.entrant_name {
  font-size: 28px;
  font-weight: bold;
  padding-top: 1px;
  padding-bottom: 1px;
  white-space: nowrap;
  overflow: hidden;
}
.entrant_id{
  font-size: 8px;
  margin-top: -4px;
  padding-left: 4px;
  padding-bottom: 4px;
  color: #999999;
}
.entrant_rank {
  font-size: 18px;
  padding-bottom: 4px;
}
.entrant_points{
  font-size: 16px;
  padding-top: 2px;
  padding-bottom: 2px;
  width: 100px;
  display: flex;
  justify-content: space-between;
}

.clear_info{
  grid-column: 3;
  grid-row: 1;
  padding-top: 26px;
  padding-right: 15px;
}
.passes{
  grid-template-columns: 100px;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
.fcs{
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}
.fecs{
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}
.quads{
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}
.quints{
  font-size: 14px;
  padding-bottom: 1px;
  display: flex;
  justify-content: space-between;
}

.ladder {
  grid-column: 4;
  grid-row: 1;
  font-size: 14px;
}
.ladder_title {
  text-decoration: underline;
  padding-bottom: 1px;
  font-size: 14px;
}
.rival{
  background-color: rgba(204, 170, 170, 0.5);
  display: flex;
  justify-content: space-between;
  padding-right: 2px;
}
.self{
  background-color: rgba(170, 204, 170, 0.5);
  display: flex;
  justify-content: space-between;
  padding-right: 2px;
}
.neutral{
  background-color: rgba(238, 238, 238, 0.5);
  display: flex;
  justify-content: space-between;
  padding-right: 2px;
}
.ladder_rank{
}